* {
    box-sizing: border-box;
    padding: 0;
    margin:0 auto;
}

body{

    color: rgb(243, 235, 235);
    background-color: rgb(17, 27, 37);
    font-family:'Montserrat', sans-serif;

}


#header{
    font-size:xx-large;
    padding: 4% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.nav{
    font-size: medium;
    margin: 2%;

}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;

}

li{
    font-size:larger;
    
}


a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;

  }

.intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 0;  
    padding-bottom: 0%;
}


.hello h2{
    font-size: xx-large;
    text-align: center;
}

h3{
    padding-top: 10%;
    font-size: 16px;
    
}


.content-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0;

}

.hiker{
    padding-top:5%;
    padding-bottom: 5%;
    -webkit-filter: invert(100%);

}


img{
    width: 450px;
    max-width: 100%;
    max-height: 351px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius:5%; 
    padding:2%;
}


.row{
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 0;
    padding-top: 5%;
}

.row h2{
    font-size: small;
}


.row p{
    width:32px; 
    height:33px;
    -webkit-filter: invert(100%);
    justify-content: flex-end;

}

.job-details{
    padding-top: 5%;
    max-width: 50%;
    /* text-align: center; */
    border-radius: 2%;
    text-justify: auto;

}

.job-details ul{
    font-size: small;
}

.job-details h3{

    font-size: medium;
}

footer{
    display:flex;
    text-align: center;
    max-width: 50%;
    padding: 10%;

}


@media print and (min-height:120vw) and (max-height: 150vw) { /* legal-size styling */ .chrome.container::before { content: "LEGAL"; } }
@media print and (min-height:100vw) and (max-height: 120vw) { /* A4 styling */ .chrome.container::before { content: "A4"; } }
@media print and (min-height:80vw) and (max-height: 100vw)  { /* letter-size styling */ .chrome.container::before { content: "LETTER"; } }
